@{
    ViewData["Title"] = "Đặt hàng thành công";
}
<div class="container py-5 text-center">
    <h2 class="text-success"><i class="bi bi-check-circle-fill">Đặt hàng thành công</i></h2>
    <a asp-controller="Main" asp-action="index" class="btn btn-primary mt-4">Quay lại trang chủ</a>
</div>